/* css reset
===============*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img, iframe, video, object{
	max-width: 100%;
}
b{
	font-weight: bold;
}
/*mirco-clear fix*/
.group:before,
.group:after {
  content: "";
  display: table;
} 
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
/*===============
| Globals
===============*/
h1 {
	margin: 10px 0;
	font-size: 1.75em;
	display: block;
}
h2 {
	margin: 10px 0;
	font-size: 1.5em;
}

.wrapper {
	/*must provide a width for margin to work*/
	margin: 20px auto;
	max-width: 960px;   /*320 * 3 column*/
	width: 90%; /*90% of patent - no parent so window */
}

/*===============
| Nav
===============*/
nav{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 8px 15px rgba(0,0,0,0.1);
		z-index: 2;
}
.primary-nav {
	float: right;
}
.primary-nav > li {
	float:left;
}
.primary-nav > li > a{
	float: left;
	padding: 25px 0;
	width: 150px;
	text-align: center;
}
.nav-logo {
	float: left;
	padding: 25px 0;
	padding-left: 25px;
	width: 150px;
}
nav li a:focus,
nav li a:hover,
nav li a:active {
	color: white;
	background-color: #CC3F0C;
}
.mobile-menu-icon{
	float: right;
	/*background-color: red;*/
	background-image: url('https://maxcdn.icons8.com/Share/icon/p1em/User_Interface//menu1600.png');
	height: 20px;
	width: 20px;
	margin: 26px;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	display: none;
}
.button {
	color: black;
/*	background-color: white;
*/	border: 1px solid black;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 12px 0;
	width: 150px;
	z-index: 10;
	cursor: pointer;
	margin-top: 20px;
}
.button:hover{
	color: white;
	background-color: black;
	border: 1px solid white;
}
.button-ghost{
	color: white;
	/*background-color: none;*/
	border: 1px solid white;
}
.button-ghost:hover{
	border: 1px solid white;
	color: black;
	background-color: white;
}

.button-center{
	margin: 8px auto 8px;
}

/*===============
| Intro Screen
===============*/
.intro {
	padding-top: 20%;
	background-color: black;
	height: 80vh;
	/*photo credit: https://pxhere.com/en/photo/1365953;*/
	background-image: url("../images/work.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: center;
	position: relative;
	z-index: 1;

}
.intro::before{
	content: '';;
	background: black;
	opacity: 0.5;
	position: absolute;
	top: 0;
	right:0;
	bottom: 0;
	left:0;
}
.flex-banner{
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 5;
	text-align: center;

}
.flex-banner-item{
	flex-basis: 40%;
	z-index: 5;
	text-align: center;
}
.banner-text {
	font-size: 2em;
	color: white;
	text-align: center;
}
/*===============
| Portfolio
===============*/
.portfolio{
	/*background-color: gray;*/
}
.flex-column-container{
	display: flex;
	justify-content: space-between;
}
.flex-column figure{
	max-width: 100%;
	flex-basis: 250px;
}
.flex-column {
	flex-basis: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 10px;
}
.flex-column .button {
	margin-top: auto;
}

/*===============
| Mobile Nav
===============*/
@media screen and (max-width: 1023px){
	nav{
		position: static;
	}
	.primary-nav{
		width:100%;
		max-height: 0;
		overflow: hidden;
	}
	.primary-nav.active{
		max-height: 350px;
	}
	.primary-nav > li{
		width: 100%;
	}
	.primary-nav li a{
		text-align: center;
		padding: 15px 0px 15px 0;
		width: 100%;
		font-size: 16px;
		border-left: none;
		border-bottom: 1px solid black;
	}
	.mobile-menu-icon {
		display: block;
	}
}
@media screen and (max-width: 1023px){
	.flex-column-container{
		flex-direction: column;
	}
	.flex-column figure{
		max-width: 100%;
		flex-basis: 250px;
		margin: 0 auto;
	}
	.flex-column .button{
		margin: 0 auto 10px auto;
	}
}
/*414px*/











